FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    object      qr;
}

dimensions      [1 0 -3 0 0 0 0];

internalField   uniform 0;

boundaryField
{
    ".*"
    {
{% if radiation_model | default("none") == "viewFactor" %}
        type            greyDiffusiveRadiationViewFactor;
        qro             uniform 0;
        emissivityMode  solidRadiation;
        value           uniform 0;
{% else %}
        type            calculated;
        value           uniform 0;
{% endif %}
    }
}
