FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    object      blockMeshDict;
}

convertToMeters 1;

vertices
(
    (0 0 0)                         // 0
    ({{ dim_x }} 0 0)               // 1
    ({{ dim_x }} {{ dim_y }} 0)     // 2
    (0 {{ dim_y }} 0)               // 3
    (0 0 {{ dim_z }})               // 4
    ({{ dim_x }} 0 {{ dim_z }})     // 5
    ({{ dim_x }} {{ dim_y }} {{ dim_z }}) // 6
    (0 {{ dim_y }} {{ dim_z }})     // 7
);

blocks
(
    hex (0 1 2 3 4 5 6 7) ({{ nx }} {{ ny }} {{ nz }}) simpleGrading (1 1 1)
);

edges
(
);

boundary
(
    floor
    {
        type wall;
        faces
        (
            (0 1 5 4)
        );
    }
    ceiling
    {
        type wall;
        faces
        (
            (3 7 6 2)
        );
    }
    heater_wall
    {
        type wall;
        faces
        (
            (0 4 7 3)
        );
    }
    opposite_wall
    {
        type wall;
        faces
        (
            (1 2 6 5)
        );
    }
    front
    {
        type wall;
        faces
        (
            (0 3 2 1)
        );
    }
    back
    {
        type wall;
        faces
        (
            (4 5 6 7)
        );
    }
);

mergePatchPairs
(
);
