FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    object      topoSetDict;
}

actions
(
{% if heater_model | default("surface_flux") == "volume_source" %}
    {
        name    heaterZoneSet;
        type    cellSet;
        action  new;
        source  boxToCell;
        box     (0 {{ heater_y0 }} {{ heater_z0 }}) ({{ heater_depth }} {{ heater_y1 }} {{ heater_z1 }});
    }
    {
        name    heaterZone;
        type    cellZoneSet;
        action  new;
        source  setToCellZone;
        set     heaterZoneSet;
    }
{% endif %}
{% if aufguss_enabled %}
    {
        name    aufgussZoneSet;
        type    cellSet;
        action  new;
        source  boxToCell;
        box     ({{ aufguss_x0 }} {{ aufguss_y0 }} {{ aufguss_z0 }}) ({{ aufguss_x1 }} {{ aufguss_y1 }} {{ aufguss_z1 }});
    }
    {
        name    aufgussZone;
        type    cellZoneSet;
        action  new;
        source  setToCellZone;
        set     aufgussZoneSet;
    }
{% endif %}
);
